.my-content{
	-moz-column-count: 2;
	-webkit-column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
		font:normal normal normal 1.5em/120% Helvetica, Arial, sans-serif;
		padding:2em;
		margin-top: 15em;
}

.p-overlay-content .my-content{
	margin-top:0;
}